http://localhost, http://127.0.0.1 {
	tls off
	log stdout
	errors stdout
	root /
	proxy /meal-options/v1.0 http://localhost:8000 {
		without /meal-options/v1.0
		policy round_robin
		# health_check /health
		transparent
	}
}

