{
    email zj0512@gmail.com
    admin off
}

http://:80
{
    handle /meal-options/v1.0/* {
        uri strip_prefix /meal-options/v1.0/
        reverse_proxy localhost:8000
    }

    respond * 404 {
        close
    }
}
